/* navbar */

.login-navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.btn-login {
  border-radius: 100px;
  width: 100px;
  background-color: #595ed4;
}

/* jumbotron */
.jumbotron {
  height: 640px;
  position: relative;
  background-image: url("img/bg.jpg");
  background-size: cover;
}

.small-jumbotron {
  height: 200px;
  padding-top: 55px;
}

.display-4 {
  color: white;
  size: 64px;
  font-family: "PT Sans Caption", sans-serif;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.lead {
  color: white;
  font-size: 24px;
  font-family: "PT Serif", serif;
}

.jumbotron .landing-title {
  position: relative;
  top: 220px;
  z-index: 1;
}

.menu-title {
  border: 5px solid white;
  width: fit-content;
  padding: 10px;
  margin: auto;
}

/* tabel katalog */
.tabel-katalog {
  height: 500px;
  background-color: #212529;
  padding: 20px;
  height: 400px;
}

.tabel-katalog::-webkit-scrollbar {
  display: none;
}

/* form kembalikan */
.form-balik {
  background-color: #212529;
  color: white;
}

/* sign in anggota*/
.login-content {
  border: 1px solid black;
  border-radius: 20px;
}

.login-title {
  line-height: 0px;
  text-align: center;
  font-size: large;
}

.form-group {
  margin-bottom: 15px;
}

.link-login {
  line-height: 10px;
}

.link-login a {
  color: green;
}

.footer-login {
  padding: 20px 10px;
  border-top: 1px solid black;
}

/* footer */
footer {
  height: 80px;
  line-height: 80px;
  border-top: 1px solid black;
}

.login-footer {
  border-top: 1px solid black;
  margin-top: 30px;
}
